.b1:hover{color: blue;}
.b1{color: rgb(40,61,146);}
.percentage{
    color: red;
    background-color: rgba(255, 0, 0, 0.192);
    margin-right: 95px;
    margin-top: 20px;
    padding: 3px;
    height: 22px;
}
.percentage2{
    color: green;
    background-color:rgba(0, 128, 0, 0.24);
    margin-right: 95px;
    margin-top: 20px;
    padding: 3px;
    height: 22px;
}
.percentage3{
    color: green;
    background-color:rgba(0, 128, 0, 0.24);
    margin-right: 305px;
    margin-top: 2px;
    padding: 3px;
    height: 22px;
}
.chart{
    font-size: 300px;
    color: rgb(40, 61,146);
}
.ball{
    background-color: red;
    color: red;
    border: red 1px solid;
    border-radius: 100%;
    font-size: 5px;
    margin-right: 300px; 
    margin-left: 40px;  
    margin-bottom: 20px;
    height: 10px;
}
.bg-custom{
    background-color: rgb(40,61,146);
}
.name{color:rgb(40,61,146);}
.brand{
    color:white;
}
.brand>span{
    font-size: 25px;
}
.page-content{
    background-color: #EFF1F4;
    padding: 20px;
}
.sidebar{
    height: 1600px;
    position: relative;
    bottom: 60px;
}
.avatar-circle>img{
    width: 80px;
    border-radius: 100%;
    border: 2px dashed blue;
}
.box1{height: 170px;
}
.box2{height: 170px;
}
.box3{
    height: 220px;
    margin-top: 20px;
}
.box4{
    height: 400px;
}
.box5{
    margin-top: 20px;
    height: 120px;
}
.box6{
    margin-top: 20px;
    height: 120px;
}
.box7{
    margin-top: 20px;
    height: 120px;
}
.box8{
    margin-top: 20px;
    height: 380px;
}
.box9{
    margin-top: 20px;
    height: 380px;
}
.box10{
    margin-top: 20px;
    height: 550px;
}
.box11{
    margin-top: 20px;
    height: 390px;
}
.box12{
    margin-top: 20px;
    height: 390px;
}